.App {
  text-align: center;
}
.button{
  padding-top: 17px;
  margin-left: 10px;
  font-size: 14px;
  padding-bottom: 14px;
  height: 34px;
}
body{
  background-image: url("http://static.nautil.us/16620_8462aabd1f45abacfa90cb0f15b8199e.png");

}

